* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  color: #666;
  padding: 40px 20px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.column {
  float: left;
}

.left-col {
  width: 22%;
  margin-right: 2%;
}

.center-col {
  width: 50%;
  margin-right: 2%;
}

.right-col {
  width: 20%;
}

.center-col,
.right-col {
  position: relative;
}
.rect {
  background: white;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}

.create-schedule {
  background: #f9eee3;
  height: 410px;
}

.write-ai {
  background: #FFCC69;
  /* width: 250px; */
  height: 410px;
}

/* CENTER COLUMN */
.main-title {
  background: #7651DC;
  color: white;
  text-align: center;
  height: 300px;
  padding-top: 50px;
}

.main-title h1 {
  font-size: 2.9rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.yellow {
  color: #fcce73;
}

.italic {
  font-style: italic;
}

.reviews {
  color: white;
  font-size: 1rem;
  margin-top: 10px;
}

.stars img {
  width: 120px;
}

.manage-accounts {
  background: white;
  height: 250px;
  width: 48%;
  float: left;
  margin-right: 4%;
  overflow: hidden; 
  position: relative; 
}

.manage-accounts img {
  width: 310px; 
  float: left;
  margin-right: 15px;
  margin-top: 10px;
}

.consistent-schedule {
  background: #FFCC69;
  height: 250px;
  width: 48%;
  float: right;
  overflow: hidden; 
  position: relative; 
}

.audience-growth {
  background: white;
  height: 250px;
  margin-top: 20px;
  width: 48%;
  clear: both;
}

.growth-num {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

.growth-text {
  font-size: 1.2rem;
  color: black;
}

.audience-image {
  float: right;
  margin-top: 5px;
}

.audience-image img {
  width: 200px;
}

.schedule-social {
    background: #DCD1FC;
    height: 570px;
    overflow: hidden; 
    position: relative; 
}

.schedule-social img {
 width: auto;
  max-width: 320px;
  display: block;
  margin: 0 auto 20px auto; 

}

.grow-followers {
  background: #7651DC;
  color: white;
  height: 250px;
  position: absolute;         
  right: 0;                  
  margin-right: 0px;       
  z-index: 2;               
  width: 230%;               
  text-align: left;
  display: flex;             
  align-items: center;         
  padding: 20px;               
  gap: 20px;                 
}

.grow-followers img {
  width: auto;
  max-width: 220px;
  display: block;
  margin: 0 auto 20px auto; 
}

.rect-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}

.grow-followers .rect-title {
  color: white;
}

.purple {
  color: #7c5dfa;
}

.rect-img {
  width: 100%;
  max-width: 100%;
}

.rect-desc {
  font-size: 1rem;
  color: #666;
  margin-top: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
  color: #666;
  clear: both;
}

.attribution a {
  color: #333;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}